.data_block{
    margin-left: 25%;
    margin-right: 25%;
    min-width: 768px;
    margin-top: 5%;
}

.data_block .list_group{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.data_block .list_group .left{
    text-align: left;
    border: 1px solid #ddd;
}

.data_block .list_group .center{
    text-align: center;
    border: 1px solid #ddd;
}

.data_block .list_group .right{
    text-align: right;
    border: 1px solid #ddd;
}

.data_block .list_group .pull_left{
    float: left !important;
}