{% extends 'home.html' %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/administrator_change_style.css') }}">
{% endblock %}

{% block title %}
学生公寓管理系统
{% endblock %}

{% block body%}
<div class="login-card">
  <div class="card-header">
    <div class="log">修改档案</div>
  </div>
  <form method="post" action="#">
    <div class="form-group">
      <label for="class">班级:</label>
      <input value="" required="" name="class" id="class" type="text">
    </div>
    <div class="form-group">
      <label for="apartment">公寓:</label>
      <input value="" required="" name="apartment" id="apartment" type="text">
    </div>
    <div class="form-group">
      <label for="room">宿舍:</label>
      <input value="" required="" name="room" id="room" type="text">
    </div>
<!--  改成下拉菜单？  -->
    <div class="form-group">
      <label for="state">状态:</label>
      <input value="" required="" name="state" id="state" type="text">
    </div>
    <div class="form-group">
      <input value="提交" type="submit">
    </div>

  </form>
</div>

{% endblock %}