<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
      <!-- 不知道有啥用
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
      -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    {% block link %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home_style.css') }}">


    <!-- Additional CSS Files -->

<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body>

  <!-- Sub Header -->
  <header class="sub-header">
    <div class="left-content" , id="top1">
      {% if identity == '学生' %}
          <a class="btn" href="/student_home">
            <span class="icon">
                <svg viewBox="0 0 175 80" width="40" height="40">
                    <rect width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                    <rect y="30" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                    <rect y="60" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                </svg>
            </span>
            <span class="text">首页</span>
          </a>
      {% endif %}
        {% if identity == '管理员' %}
        <a class="btn" href="/administrator_home">
        <span class="icon">
            <svg viewBox="0 0 175 80" width="40" height="40">
                <rect width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                <rect y="30" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
                <rect y="60" width="80" height="15" fill="#f0f0f0" rx="10"></rect>
            </svg>
        </span>
        <span class="text">首页</span>
        </a>
        {% endif %}
    </div>
    <div class="right-content" , id="top2">
    <div class="btn">
        <!-- 学生还是管理员为变量 -->   <!-- 名字改为变量 -->
        <!-- {{name}} -->
        <span class="btn-text-one">{{identity}}:{{username}}</span>

    </div>
    </div>
  </header>
  {% block body %}
  {% endblock %}