{% extends 'home.html' %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/maintenance_request_style.css') }}">
{% endblock %}

{% block title %}
学生公寓管理系统
{% endblock %}

{% block body%}
<div class="login-card">
  <div class="card-header">
    <div class="log">离校申请</div>
  </div>
  <form>
    <!-- 需要日期吗？ -->
    <div class="form-group">
      <label for="departure_time">预期离开时间:</label>
      <input required="" name="departure_time" id="departure_time" type="text">
    </div>
    <div class="form-group">
      <label for="destination">目的地:</label>
      <input required="" name="destination" id="destination" type="text">
    </div>
    <div class="form-group">
      <label for="description">离校理由(不多于50字):</label>
      <textarea class="description" rows="5" maxlength="50" required="" name="description" id="description"></textarea>
    </div>
    <div class="form-group">
      <input value="提交" type="submit">
    </div>

  </form>
</div>

{% endblock %}