{% extends 'home.html' %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/detail_style.css') }}"
      xmlns="http://www.w3.org/1999/xhtml">
{% endblock %}

{% block title %}
学生公寓管理系统
{% endblock %}

{% block body%}
<div class="data_block">
    <ul class="list_group">
        <li class="list_group left">维修详情</li>
        <li class="list_group center">
            <img src="{{address}}" alt="暂无图片" width="600" height="450">
        </li>
        <li class="list_group right">
            <span class="pull_left">维修编号</span>
            <span>{{record.id}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">维修宿舍</span>
            <span>{{record.room_id}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">维修公寓</span>
            <span>{{record.apartment_id}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">申报人学号</span>
            <span>{{record.reporter_id}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">申报人姓名</span>
            <span>{{record.reporter_name}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">详细信息</span>
            <span>{{record.fault_info}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">处理人</span>
            <span>{{record.person_in_charge}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">报告时间</span>
            <span>{{record.report_time}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">完成时间</span>
            <span>{{record.finish_time}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">当前状态</span>
            <span>{{record.status}}</span>
        </li>
    </ul>
<!--    是管理员并且状态为等待维修-->
    {% if identity=='管理员' and record.status=="待维修" %}
    <form action="#" , method="post">
        <button type="submit">通过</button>
    </form>
    {% endif %}

</div>
{% endblock %}