{% extends 'home.html' %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/detail_style.css') }}"
      xmlns="http://www.w3.org/1999/xhtml">
{% endblock %}

{% block title %}
学生公寓管理系统
{% endblock %}

{% block body%}
<div class="data_block">
    <ul class="list_group">
        <li class="center">返校申报</li>
        <li class="list_group right">
            <span class="pull_left">申请编号</span>
            <span>{{record.id}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">申报人学号</span>
            <span>{{record.student_id}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">宿舍号</span>
            <span>{{record.room_id}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">公寓号</span>
            <span>{{record.apartment_id}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">返校时间</span>
            <span>{{record.return_time}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">返校原因</span>
            <span>{{record.purpose}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">当前状态</span>
            <span>{{record.approval_status}}</span>
        </li>
    </ul>

    {% if record.approval_status=='审核中' %}
    <form action="/agree_return_school/{{record.id}}" class="bottom-list" method="post">
    <button>通过</button></form>
    <form action="/disagree_return_school/{{record.id}}" class="bottom-list" method="post">
    <button>不通过</button></form>
    {% endif %}
</div>
{% endblock %}
