{% extends 'home.html' %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/maintenance_request_style.css') }}">
{% endblock %}

{% block title %}
学生公寓管理系统
{% endblock %}

{% block body%}
<div class="login-card">
  <div class="card-header">
    <div class="log">返校申请</div>
  </div>
  <form action="#" method="post">
    <!-- 需要日期吗？ -->
    <div class="form-group">
      <label for="return_time">预期返回时间:</label>
      <input required="" name="return_time" id="return_time" type="text">
    </div>
    <div class="form-group">
      <label for="description">返校理由(不多于50字):</label>
      <textarea class="description" rows="5" maxlength="50" required="" name="description" id="description"></textarea>
    </div>
    <div class="form-group">
      <input value="提交" type="submit">
    </div>

  </form>
</div>

{% endblock %}