{% extends 'home.html' %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/detail_style.css') }}"
      xmlns="http://www.w3.org/1999/xhtml">
{% endblock %}

{% block title %}
学生公寓管理系统
{% endblock %}

{% block body%}
<div class="data_block">
    <ul class="list_group">
        <li class="list_group left">返校申报</li>
        <li class="list_group right">
            <span class="pull_left">申报时间</span>
            <span>2023.5.31</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">申报人</span>
            <span>陈奕晓</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">手机</span>
            <span>13771161706</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">返校理由</span>
            <span>我想学习！</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">当前状态</span>
            <span>等待审批</span>
        </li>
    </ul>

    <form action="/agree_return_school/{{index}}" class="bottom-list" method="post">
    <button>通过</button></form>
    <form action="/disagree_return_school/{{index}}" class="bottom-list" method="post">
    <button>不通过</button></form>
</div>
{% endblock %}
