{% extends 'home.html' %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/detail_style.css') }}"
      xmlns="http://www.w3.org/1999/xhtml">
{% endblock %}

{% block title %}
学生公寓管理系统
{% endblock %}

{% block body%}
<div class="data_block">
    <ul class="list_group">
        <li class="list_group left">宿舍信息</li>
        <li class="list_group right">
            <span class="pull_left">宿舍号</span>
            <span>{{room_id}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">公寓号</span>
            <span>{{room_record.apartment_id}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">寝室长</span>
            <span>{{room_record.president}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">容量</span>
            <span>{{room_record.capacity}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">学生1</span>
            <span>{{stu_list[0]}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">学生2</span>
            <span>{{stu_list[1]}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">学生3</span>
            <span>{{stu_list[2]}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">学生4</span>
            <span>{{stu_list[3]}}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">状态</span>
            <span>{{room_record.maintenance_status}}</span>
        </li>
    </ul>
    <form class="bottom-list" action="/room_change/{{room_id}}">
    <!-- 按钮按了之后操作待做 -->
    <button>修改</button>
    </form>
</div>
{% endblock %}
