{% extends 'home.html' %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/student_file_style.css') }}"
      xmlns="http://www.w3.org/1999/xhtml">
{% endblock %}

{% block title %}
学生公寓管理系统
{% endblock %}

{% block body%}
<div class="data_block">
    <ul class="list_group">
        <li class="list_group left">学生档案</li>
        <li class="list_group center">
            <img src="{{address}}" alt="暂无图片" width="150" height="200">
        </li>
        <li class="list_group right">
            <span class="pull_left">姓名</span>
            <span>{{ user.name }}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">性别</span>
            <span>{{ user.gender }}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">身份证</span>
            <span>{{ user.id_card }}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">生日</span>
            <span>{{ user.birth }}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">学号</span>
            <span>{{ user.id }}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">学院</span>
            <span>{{ user.college }}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">专业</span>
            <span>{{ user.major }}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">班级</span>
            <span>{{ user.classs }}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">公寓</span>
            <span>{{ user.apartment_id }}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">宿舍</span>
            <span>{{ user.room_id }}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">状态</span>
            <span>{{ user.state }}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">户籍</span>
            <span>{{ user.domicile }}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">手机号</span>
            <span>{{ user.phone }}</span>
        </li>
        <li class="list_group right">
            <span class="pull_left">邮箱</span>
            <span>{{ user.email }}</span>
        </li>
    </ul>

</div>
{% endblock %}